/* --- Général ---
.navbar {
  background-color: rgb(28, 91, 143);
  padding: 13px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  font-family: "Verdana", serif;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.btn-link {
  padding: 5px 10px;
  background-color: rgb(4, 2, 105);
  color: yellow;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 20px 10px 2px rgba(29, 18, 4, 0.326);
} */

