/* --- Structure fixe --- */
.nav {
  background-image: linear-gradient(to right, #0d4370, #9cd1fd);
  padding: 13px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --- Menu principal --- */
.navList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navItem {
  margin: 0 10px;
  font-family: "Verdana", serif;
}

.navLink {
  color: white;
  margin: 0 49px;
  text-decoration: none;
  font-size: 15px;
  transition: transform 0.2s ease-in-out;
}

.navItem:hover {
  transform: scale(1.2);
}

.btnLink {
  padding: 3px 10px;
  margin-left: 45px;
  background-color: rgb(4, 2, 105);
  color: yellow;
  border: solid 2px rgb(108, 140, 182);
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(21, 13, 63, 0.93);
  transition: background-color 0.3s ease, color 0.3s ease,
    transform 0.2s ease-in-out;
  cursor: pointer;
}

.navLink:hover {
  color: yellow;
}

.modeToggle {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
}

.modeToggle:hover {
  transform: scale(1.2);
}

/* --- Burger menu --- */
.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.4s ease;
  border-radius: 2px;
}

/* --- Animation en croix --- */
.burger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
  opacity: 0;
}

.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navList {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #0d4370, #b4d9f8); 
  background-color: transparent; 
  flex-direction: column;
  align-items: start;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}


  .navList.open {
    max-height: 300px;
    opacity: 1;
    pointer-events: auto;
  }

  .navItem {
    margin: 12px 0;
  }
}
